@model tagur.Models.MainViewModel

<div class="row">
    <div class="col-xs-12">

        <!-- Heading -->
        <h1 class="heading">
            Key <span class="text-primary">solution</span> features
        </h1>

        <!-- Sub heading -->
        <p class="heading__sub">
            Check out the following Microsoft tools, technologies, and services showcased in this solution.
        </p>

    </div>
</div> <!-- / .row -->
<div class="row">
    <div class="col-sm-6 col-md-5 col-md-offset-1">

        <!-- Features item -->
        <div class="features__item">

            <a class="about-link" href="https://www.visualstudio.com/vs/" target="_new">
                <h4 class="features-item__title">
                    <span style="margin-right:5px" class="text-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    Visual Studio 2017
                </h4>
            </a>
        </div> <!-- / .features__item -->

    </div>
    <div class="col-sm-6 col-md-5">

        <!-- Features item -->
        <div class="features__item">

            <a class="about-link" href="https://www.microsoft.com/net/core" target="_new">
                <h4 class="features-item__title">
                    <span style="margin-right:5px" class="text-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    .NET Core
                </h4>
            </a>

        </div> <!-- / .features__item -->

    </div>
</div> <!-- / .row -->
<div class="row">
    <div class="col-sm-6 col-md-5 col-md-offset-1">

        <!-- Features item -->
        <div class="features__item">

            <a class="about-link" href="https://www.asp.net/core" target="_new">
                <h4 class="features-item__title">
                    <span style="margin-right:5px" class="text-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    ASP.NET Core
                </h4>
            </a>

        </div> <!-- / .features__item -->

    </div>
    <div class="col-sm-6 col-md-5">

        <!-- Features item -->
        <div class="features__item">

            <a class="about-link" href="https://azure.microsoft.com/en-us/services/application-insights/" target="_new">
                <h4 class="features-item__title">
                    <span style="margin-right:5px" class="text-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    Application Insights
                </h4>
            </a>
        </div> <!-- / .features__item -->

    </div>
</div> <!-- / .row -->
<div class="row">
    <div class="col-sm-6 col-md-5 col-md-offset-1">

        <!-- Features item -->
        <div class="features__item">

            <a class="about-link" href="https://powerbi.microsoft.com/" target="_new">
                <h4 class="features-item__title">
                    <span style="margin-right:5px" class="text-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    Power BI
                </h4>
            </a>

        </div> <!-- / .features__item -->

    </div>
    <div class="col-sm-6 col-md-5">

        <!-- Features item -->
        <div class="features__item">

            <a class="about-link" href="https://azure.microsoft.com/en-us/services/functions/" target="_new">
                <h4 class="features-item__title">
                    <span style="margin-right:5px" class="text-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    Azure Function Apps
                </h4>
            </a>
        </div> <!-- / .features__item -->

    </div>
</div> <!-- / .row -->
<div class="row">
    <div class="col-sm-6 col-md-5 col-md-offset-1">

        <!-- Features item -->
        <div class="features__item">

            <a class="about-link" href="https://azure.microsoft.com/en-us/services/app-service/web/" target="_new">
                <h4 class="features-item__title">
                    <span style="margin-right:5px" class="text-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    Azure Web Apps
                </h4>
            </a>

        </div> <!-- / .features__item -->

    </div>
    <div class="col-sm-6 col-md-5">

        <!-- Features item -->
        <div class="features__item">

            <a class="about-link" href="https://azure.microsoft.com/en-us/services/sql-database/" target="_new">
                <h4 class="features-item__title">
                    <span style="margin-right:5px" class="text-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    Azure SQL
                </h4>
            </a>
        </div> <!-- / .features__item -->

    </div>
</div> <!-- / .row -->
<div class="row">
    <div class="col-sm-6 col-md-5 col-md-offset-1">

        <!-- Features item -->
        <div class="features__item">

            <a class="about-link" href="https://azure.microsoft.com/en-us/services/documentdb/" target="_new">
                <h4 class="features-item__title">
                    <span style="margin-right:5px" class="text-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    Azure DocumentDB
                </h4>
            </a>

        </div> <!-- / .features__item -->

    </div>
    <div class="col-sm-6 col-md-5">

        <!-- Features item -->
        <div class="features__item">

            <a class="about-link" href="https://azure.microsoft.com/en-us/documentation/articles/storage-dotnet-how-to-use-blobs/" target="_new">
                <h4 class="features-item__title">
                    <span style="margin-right:5px" class="text-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    Azure Object Storage
                </h4>
            </a>
        </div> <!-- / .features__item -->

    </div>
</div> <!-- / .row -->
<div class="row">
    <div class="col-sm-6 col-md-5 col-md-offset-1">

        <!-- Features item -->
        <div class="features__item">

            <a class="about-link" href="https://www.microsoft.com/en-us/sql-server/sql-server-2016" target="_new">
                <h4 class="features-item__title">
                    <span style="margin-right:5px" class="text-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    SQL Server 2016
                </h4>
            </a>

        </div> <!-- / .features__item -->

    </div>
    <div class="col-sm-6 col-md-5">

        <!-- Features item -->
        <div class="features__item">

            <a class="about-link" href="https://www.microsoft.com/en-us/sql-server/sql-server-2016" target="_new">
                <h4 class="features-item__title">
                    <span style="margin-right:5px" class="text-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    SQL Server for Linux
                </h4>
            </a>
        </div> <!-- / .features__item -->

    </div>
</div> <!-- / .row -->
<div class="row">
    <div class="col-sm-6 col-md-5 col-md-offset-1">

        <!-- Features item -->
        <div class="features__item">

            <a class="about-link" href="https://msdn.microsoft.com/en-us/library/mt204009.aspx" target="_new">
                <h4 class="features-item__title">
                    <span style="margin-right:5px" class="text-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    SQL Server Data Tools
                </h4>
            </a>

        </div> <!-- / .features__item -->

    </div>
    <div class="col-sm-6 col-md-5">

        <!-- Features item -->
        <div class="features__item">

            <a class="about-link" href="https://dev.office.com/officegraph" target="_new">
                <h4 class="features-item__title">
                    <span style="margin-right:5px" class="text-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    Microsoft Office Graph
                </h4>
            </a>
        </div> <!-- / .features__item -->

    </div>
</div> <!-- / .row -->
<div class="row">
    <div class="col-sm-6 col-md-5 col-md-offset-1">

        <!-- Features item -->
        <div class="features__item">

            <a class="about-link" href="https://www.microsoft.com/cognitive-services" target="_new">
                <h4 class="features-item__title">
                    <span style="margin-right:5px" class="text-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    Microsoft Cognitive Services
                </h4>
            </a>

        </div> <!-- / .features__item -->

    </div>
    <div class="col-sm-6 col-md-5">

        <!-- Features item -->
        <div class="features__item">

            <a class="about-link" href="https://azure.microsoft.com/en-us/services/search/" target="_new">
                <h4 class="features-item__title">
                    <span style="margin-right:5px" class="text-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    Azure Search
                </h4>
            </a>
        </div> <!-- / .features__item -->

    </div>
</div> <!-- / .row -->
<div class="row">
    <div class="col-sm-6 col-md-5 col-md-offset-1">

        <!-- Features item -->
        <div class="features__item">

            <a class="about-link" href="https://azure.microsoft.com" target="_new">
                <h4 class="features-item__title">
                    <span style="margin-right:5px" class="text-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    Azure Container Registries
                </h4>
            </a>

        </div> <!-- / .features__item -->

    </div>
    <div class="col-sm-6 col-md-5">

        <!-- Features item -->
        <div class="features__item">

            <a class="about-link" href="https://azure.microsoft.com" target="_new">
                <h4 class="features-item__title">
                    <span style="margin-right:5px" class="text-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    Azure Container Services
                </h4>
            </a>
        </div> <!-- / .features__item -->

    </div>
</div> <!-- / .row -->

<div class="row">
    <div class="col-sm-6 col-md-5 col-md-offset-1">

        <!-- Features item -->
        <div class="features__item">

            <a class="about-link" href="http://www.docker.com/" target="_new">
                <h4 class="features-item__title">
                    <span style="margin-right:5px" class="text-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    Docker
                </h4>
            </a>

        </div> <!-- / .features__item -->

    </div>
    <div class="col-sm-6 col-md-5">

        <!-- Features item -->
        <div class="features__item">

            <a class="about-link" href="https://azure.microsoft.com" target="_new">
                <h4 class="features-item__title">
                    <span style="margin-right:5px" class="text-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                    Azure Linux App Services
                </h4>
            </a>
        </div> <!-- / .features__item -->

    </div>
</div> <!-- / .row -->
