@model tagur.Models.MainViewModel
@{
    ViewData["Title"] = "tagur :: Connect(); //2016";
}

@{Html.RenderPartial("Navbars/Reports", Model);}
@{Html.RenderPartial("Sidebars/Reports", Model);}

<div id="fullpage">

    <div class="site-wrapper">
        <div class="container">

            <div class="center-div">
                <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiYjZmYjE0MGEtZWMzZC00ZGE3LWI5YzktMTYyYmQxNWUxN2JlIiwidCI6IjAzNzQ5NTU0LTgxMTctNDU2MS1iYjU2LWI1ZGY5ZDQwOTc0MiIsImMiOjN9" frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
    </div>

</div>




