@model tagur.Models.MainViewModel
 
<div class="navbar navbar-default navbar__initial navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a title="Currently running on @Html.DisplayFor(o => o.OsLabel)" class="navbar-brand" href="#welcome"><i style="margin-top:-15px;margin-right:5px;font-size:24px" class="fa fa-@Html.DisplayFor(o => o.OsLabel)" aria-hidden="true"></i></a>
            <a class="navbar-brand" asp-controller="Home" asp-action="Index" asp-fragment="welcome"><img style="margin-top:-10px" height="32" src="~/assets/img/tagur_sm.png" /></a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="fullpage__nav nav navbar-nav navbar-right">
                <li data-menuanchor="welcome"><a href="#welcome"></a></li>
                <li data-menuanchor="portfolio"><a href="#portfolio">Image Results</a></li>                
               
            </ul>
        </div> 
    </div>
</div>